body {
  margin: 0px;
}
.content {
  width: 900px;
  margin: auto;
}
/* HEADER */
header {
  background: green;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 30px;
  text-align: center;
}
.logo {
  padding-top: 8px;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: 10px;
}
/* FOOTER */
footer {
  background: #00800087;
  width: 100%;
  height: 50px;
  color: green;
  font-size: 15px;
  text-align: center;
  clear: both;
  margin-top: 600px;
}
.copyright {
  padding-top: 18px;
}
aside {
  height: 300px;
  border: 1px solid grey;
  margin: 10px;
  width: 250px;
  float: left;
  padding: 10px;
  border-radius: 5px;
  background: #00800087;
}
article {
  height: auto;
  border: 1px solid grey;
  margin-bottom: 10px;
  border-radius: 5px;
}
.left-side {
  width: 550px;
  float: left;
  padding: 10px;
}
.newpost {
  width: 100%;
  height: 40px;
  background: green;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  animation-name: cimsor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
h1, h2, h3 {
  font-family: "Lucida Console", Monaco, monospace;
}
img {
  width: 100%;
}
.article-content {
  margin: 20px;
}
input,textarea {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
/* ANIMÁCIÓK */
@keyframes cimsor {
  0% {background-color: green;}
  50% {background-color: #00800087;}
  100% {background-color: green;}
}
.delete-button {
  margin-left: 450px;
}